<fieldset>
    <legend>Add a Player to a Team</legend>
    <form>
        <label>Player Name :
            <select ng-model='updateP.pId'>
                <option ng-repeat='USPlayer in USPList'value="{{USPlayer._id}}">{{USPlayer.name}}</option>
            </select>
        </label>

        <label>Team Name :
            <select ng-model='updateP.team'>
                <option ng-repeat='team in teamlist'value="{{team._id}}">{{team.name}}</option>
            </select>
        </label>
        <input type="submit" ng-click='addPtoTeam()' value="Add to Team">
    </form>
</fieldset>
<fieldset ng-if='SPList.length > 0'>
    <legend>Currently signed Player List</legend>
    <table>
        <tr>
            <th> <a ng-click="sortType = 'name'; sortReverse = !sortReverse">Name</a></th>
            <th> <a ng-click="sortType = 'team'; sortReverse = !sortReverse">Team</a></th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="SPlayer in SPList | orderBy:sortType:sortReverse">
            <td>{{SPlayer.name}}</td>
            <td>{{SPlayer.team}}</td>
            <td><button ng-click='cut(SPlayer.pNum)'>Cut from team</button></td>
        </tr>
    </table>
</fieldset>
<fieldset ng-if='USPList.length > 0'>
    <legend>Unsigned Player List</legend>
    <table>
        <tr>
            <th> <a ng-click="sortType = 'name'; sortReverse = !sortReverse">Team Name</a></th>
        </tr>
        <tr ng-repeat="USPlayer in USPList | orderBy:sortType:sortReverse">
            <td>{{USPlayer.name}}</td>
        </tr>
    </table>
</fieldset>
