<fieldset ng-init='getPlayers()'>
    <legend>Add Player</legend>
    <form novalidate name='nPlayer'>
        <label>Player Name : <input type="text" ng-model='newPlayer.name' required></label><br>
        <input type="submit" ng-click='addPlayer() && $setPristine' value="Add New Player" ng-disabled='nPlayer.$invalid'>
    </form>
</fieldset>
<fieldset ng-if='playerlist.length > 0'>
    <legend>Player List</legend>
    <table>
        <tr>
            <th> <a ng-click="sortType = 'name'; sortReverse = !sortReverse">Player Name</a></th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="player in playerlist | orderBy:sortType:sortReverse">
            <td ng-bind='player.name'></td>
            <td><button ng-click='delPlayer(player._id)'>Delete</button>
                <a href="#!/updatePlayer/{{player._id}}"><button>Update</button></a>
            </td>
        </tr>
    </table>
</fieldset>
