<fieldset ng-init='getTeams()'>
    <legend>Add Team</legend>
    <form novalidate ng-pristine name='nTeam'>
        <label>Team Name : <input type="text" ng-model='newTeam.name' ng-required="true"></label><br>
        <input type="submit" value="Add New Team" ng-click='addTeam() && $setPristine()' ng-disabled='nTeam.$invalid'>
    </form>
</fieldset>
<fieldset ng-if='teamlist.length > 0'>
    <legend>Team List</legend>
    <table>
        <tr>
            <th> <a ng-click="sortType = 'name'; sortReverse = !sortReverse">Team Name</a></th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="team in teamlist | orderBy:sortType:sortReverse">
            <td ng-bind='team.name'></td>
            <td><button ng-click='delTeam(team._id)'>Delete</button></td>
        </tr>
    </table>
</fieldset>
